@import 'variables';
@import 'mixins';
%font-github {
  color: $main-text-color;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  display: flex;
  background: linear-gradient($white-blue, $footer-bg);

    .dev-team {
      @extend %font-github;
      display: grid;
      margin-right: auto;
      margin-top: 5px;
      margin-bottom: 5px;
      grid-template-columns: 145px 159px 145px;
      justify-items: start;

      @include media-tablet-landscape {
        grid-template-columns: 145px 145px;
      }

      @include media-tablet-portrait {
        grid-template-columns: 145px 145px;
      }

      @include media-mobile {
        display: flex;
        flex-direction: column;
      }

        a {
          @extend %font-github;
          display: flex;
          justify-content: center;

          @include media-mobile {
            justify-content: left;
            margin: 0;
          }
        }

        img {
          width: 20px;
          height: 20px;
          margin-left: 0;

          @include media-mobile {
            margin: 2px 0 0 5px;
          }
        }
    }

    .year {
      margin-right: auto;
      font-size: 19px;
      font-weight: 900;
    }

    .rs-school {
      width: 100px;
      margin-right: 10px;
    }

}
