@import 'variables';
@import 'mixins';

:host {
  @include media-max-width {
    margin-left: 456px;
  }
  @include media-desktop {
  }
  @include media-tablet-landscape {
  }
  @include media-tablet-portrait {
  }
  @include media-mobile {
  }

  & a {
    color: $footer-link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}
