$font-main: 'Source Sans Pro', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$max-desktop-width: 1281px;
$max-medium-width: 1280px;
$min-medium-width: 1025px;
$max-landscape-width: 1024px;
$min-landscape-width: 768px;
$max-portrait-width: 767px;
$min-portrait-width: 481px;
$max-small-width: 480px;
$min-small-width: 320px;

$main-bg-color: #f8f9fb;
$header-text-color: #1c77c3;
$main-text-color: #030631;
$footer-slider-bg: #9cc0fa;
$footer-creds-bg: #cbe1f9;
$footer-text-color: white;
$footer-link-color: #1c77c3;
$white-blue: #eaf3fa;
$footer-bg: #548ee2;
$white-blue: #eaf3fa;
$white-blue: #eaf3fa;
